{% extends "layout.html" %}

{% block cont %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="/home" class="navbar-brand">Bing-o!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNav"
                aria-controls="mobileNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mobileNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/syed-saif/bing-o">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">I'm Syed!</h1>
            <p class="lead">I am a man, a human, and idk what more to write</p>

            <hr class="my-4">

            <p>Bingo was a game we used to play all day long when we were
                in schools, since fifth grade!
                <br><br>
                Back then, we used pen and paper to play this game. It was a simple turn-based game and the first one to
                finish would scream, "BINGO!!".
                So first, we would create a 5X5 table and fill it with numbers starting from 1 to 25. The order didn't
                matter. Then each player would get a turn and in their turn, the player would stike off a number. Any number
                they wanted. Getting a row or a column or a diagonal of such striked numbers would result in a point. The
                first player to score five points would win and the next positions would be filled by other players. That
                was the game.
                <br><br>
                During this summer( a very strange one thanks to the pandemic ), my friends and I were in a group call and
                we tried to play the old-school Bingo with pen and paper. That didn't go so well as anyone could easily
                cheat and win. That day this idea came to my mind, "Why not try to build a similar game and make it
                online?". This is the result :)
                <br><br>
                Visit my <a href="https://github.com/syed-saif/bing-o" target="_blank" rel="noopener noreferrer">Github
                    page</a> to get a detailed understanding of how this web app works. Do follow me or star the repository
                :p
                <br><br>
                If you face any problems when playing the game, it's mostly because you maybe using an older version of your
                browser. Update your browsers to the latest versions and the game will run just fine.
                <br>
                Any suggestions or issues are welcome. Do send me a mail at: sydsaifullah7@gmail.com
                <br><br>
                My name is Syed Saifullah and currently(or at the time when this was made) I'm a student at <a
                    href="https://kcgcollege.ac.in/" target="_blank" rel="noopener noreferrer">KCG College of
                    technology</a>, pursuing my engineering degree in Computer Science.
                I wanna thank you for taking the time and visiting this site. Peace out!
            </p>
        </div>
    </div>
{% endblock%}
