<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    {%block style%}{%endblock%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap" rel="stylesheet">
    <link rel = "shortcut icon" href ="{{url_for('static', filename = 'favicon.ico')}}" type = "image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'bootstrap.min.css')}}">
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'main.css')}}">
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'obvious-buttons.css')}}">

    <script src="https://kit.fontawesome.com/f2ae20b54b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.5.0/dist/jquery.slim.min.js,npm/popper.js@1.16.1,npm/socket.io-client@2.2.0/dist/socket.io.min.js,npm/sweetalert@2.1.2,npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    {%block css%}{% endblock %}

    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Flask app</title>
    {% endif %}
  </head>
  <body>
    {% block cont%}{% endblock %}
  </body>
</html>
